

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	background: #EAEAEA;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.1em;
	font-size: 1em;
}

table{
   margin: auto;
   border-collapse: collapse;
}

table tr td:first-child{
   text-align: right;
}

table tr td:last-child{
   text-align: left;
}

input{
	color: white;
}

input::placeholder{
	color: #3b444b;
}

input:focus{
	transition: 0.5s;
	border-bottom-color: #FFD700;
	outline: none;
}

textarea::placeholder{
	color: #3b444b;
}

textarea{
	color: white;
	background-color: transparent;
	height: 4.5em;
	width: 70vw;
	transition: height 0.5s ease-in-out;
}

textarea:focus{
	height: 10em;
	transition: height 0.5s ease-in-out;
}

@media screen and (max-width: 450px) {
  body {font-size: 3vw !important;}
}

footer {
	position: relative;
}