

#name{
	text-align: center;
	padding-top: 200px;
	margin-bottom: 0;
	color: #0057FF;
	font-size: 250%;
	transition: font-size 1s;
}

.titles{
	color: white;
	font-size: 170%;
	margin: 0;
}

#intro {
	background: no-repeat center right fixed url(../images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 650px;
	display: table;
	position: relative;
	text-align: center;
}

#readmore{
	text-align: center;
	color: white;
	font-size: 170%;
	border: 4px solid white;
	margin: auto;
}

.outsidetext{
	text-align: center;
	color: #0057FF;
	font-size: 2.1em;
}

.outsidetextsmall{
	text-align: center;
	color: black;
	font-size: 1.6em;
	padding: 0;
}

.profile{
	display: flex;
	justify-content: center;
	/*margin: auto;*/
}

#profilepic{
	border-radius: 50%;
}

.me{
	font-size: 130%;
	line-height: 150%;
	padding-left: 5px;
}

.blocks{
	padding-top: 100px;
	clear: both;
}

.inblocks{
	padding-top: 50px;
}

.largetext{
	color: #0057FF;
	font-size: 2.1em;
	padding-bottom: 30px;
}

.mediumtext{
	font-size: 1.5em;
	padding-bottom: 10px;
}

.smalltext{
	font-size: 1em;
	padding-bottom: 30px;
}

.smalltexti{
	font-size: 1em;
	padding-bottom: 10px;
}

.lefttext{
	float: left;
	padding-left: 10vw;
	text-align: left;
}

.righttext{
	float: right;
	padding-right: 10vw;
	text-align: right;
}

.vl{
	border-left: 2px solid;
	position: absolute;
	left: 50%;
}

#contact{
	background: #2A2727;
}

.icon{
	max-height: 60px;
	max-width: 60px;
}

.icons{
	text-align: center;
}

#feedback{
	text-align: center;
	color: white;
	border: 4px solid white;
}

.feedpage{
	background: url(/static/images/feedbackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
	text-align: center;
}

#feedback-text{
	padding-top: 10%;
	color: white;
}

.feed-input-text{
	background: transparent;
	border: none;
	box-shadow: none;
	min-width: 70vw;	
	border-bottom: 2px solid white;
	padding: 15px 0 15px 0;
}

#signuppage{
	background: url(/static/images/signbackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;	
	height: 100vh;
	position: relative;
	text-align: center;
}

#signup-text{
	font-size: 1.2em;
	padding-top: 10%;
	color: #0057FF;
	padding-bottom: 20px;
}

.signarea{
	color: white;
}

.sign-input-text{
	color: black;
	background: white;
	border: none;
	box-shadow: none;
	min-width: 70vw;
	height: 2.5em;
	border-bottom: 2px solid white;
	border-radius: 3px;
	padding: 15px 10px 15px 10px;
}

.projectpage{
	background: url(/static/images/projectbackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;	
	height: 100vh;
	position: relative;
	text-align: center;
}

.project-input-text{
	color: black;
}

.project-table{
	background: white;
}

.newproject{
	color: #0057FF;
	font-size: 3vw;
	text-shadow: 1px 2px 0 white;
}

.thanks{
	color: #0057FF;
	font-size: 3vw;
}

.submitbutton1{
	text-align: center;
	color: #0057FF;
	font-size: 1.7em;
	border: 4px solid white;
	margin: 10px auto;
	border-radius: 10px;
	transition: 0.1s ease-out;
}

.submitbutton1:hover{
	transition: 0.1 ease-in;
	transform: scale(1.2);
}

.sidenav {
 	height: auto;
 	width: 10px;
 	position: fixed;
 	z-index: 1;
 	top: auto;
 	right: 0;
 	background-color: #111;
 	overflow-x: hidden;
 	padding-top: 20px;
 	transition: 0.3s ease-out;
}

.sidenav:hover{
	transition: 0.3s ease-in;
	width: 55px;
}

.sidenav a {
 	padding: 6px 8px 6px 16px;
 	text-decoration: none;
 	font-size: 25px;
 	color: #818181;
 	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 450px) {
	#profilepic {width: 75%;}
}

.dropbtn {
	background-color: #343a40;
	color: white;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #343a40;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #4d565e;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #343a40;
}