<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}
	</head>

	<body>

		
		{% block content %}
		<!-- Top navigation -->

  		<!-- Feedback -->
		<div class="feedpage">
			<div id="feedback-text">
				<div>I'd love some feedback</div>
			</div>
			<form method="post">
				<table class='signarea'>
					{% csrf_token %}
					{{ form.as_table }}
					{{ message_form }}	
				</table>
				<input class="submitbutton1" type="submit" value="Submit" />
			</form>	
		</div>
		{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>