<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}	
	</head>
	<body>
		{% block content %}
		<!-- Top navigation -->

  		<!-- Side navigation -->
		<div class="sidenav">
  			<a href="#"><i class="fas fa-home"></i></a>
  			<a href="#about"><i class="fas fa-user-alt"></i></a>
  			<a href="#experience"><i class="far fa-file-alt"></i></a>
  			<a href="#contact"><i class="fas fa-phone"></i></a>
		</div>

		<!-- Welcoming to my website -->
		<div id="intro">
			<div id="name">Zafir Rasyidi Taufik</div>
			<table>
   			<tr  class="titles">
        			<td>Ethical Hacker</td>
        			<td>&</td>
        			<td>Software Engineer</td>
    			</tr>
    			<tr class="titles">
        			<td>Keeping you safe</td>
        			<td>|</td>
        			<td>With Creativity</td>
    			</tr>
			</table>
			<a href="#about" title="">
				<button type="button" class="btn" id="readmore">
        			Read ^ More
    			</button>
    		</a>
		</div>
		
		<!-- Short Profile -->
		<div class="blocks" id="about"> 	
			<div class="outsidetext">Hello There!</div><br>
			<div class="outsidetextsmall">Allow me to introduce myself</div><br>
			<div class="profile">
				<div><img src="../static/images/myface.png" alt="Face" id="profilepic"></div>
				<div>
					<p class="me">My name is Zafir Rasyidi Taufik</p>
					<p class="me">I am a Computer Science student at<br>the Faculty of Computer Science,<br>University of Indonesia</p>
				</div>
			</div>
		</div>

		<!-- Full Profile -->
		<div class="blocks" style="min-height: 600px">
			<div class="lefttext">
				<div class="largetext">My Profile</div>
				<div class="mediumtext">Fullname</div>
				<div class="smalltext">Zafir Rasyidi Taufik</div>
				<div class="mediumtext">Age</div>
				<div class="smalltext">18 years</div>
				<div class="mediumtext">Email</div>
				<div class="smalltext">zafir.r.taufik@gmail.com</div>
				<div class="mediumtext">Motto</div>
				<div class="smalltext">Bravery and Creativity</div>
			</div>
			<div class="righttext">
				<div class="largetext">What I love to do</div>
            <div class="mediumtext">Ethical Hacking</div>
            <div class="smalltext">Capture the Flag, Bounty Hunting</div>
            <div class="mediumtext">Problem Solving</div>
            <div class="smalltext">Logic puzzles, Maths puzzles</div>
            <div class="mediumtext">Programming my ideas</div>
            <div class="smalltext">Using Python, C++, Java</div>
            <div class="mediumtext">Innovating</div>
            <div class="smalltext">Creative and Innovative Ideas</div>
			</div>
		</div>

		<!-- Experiences -->
		<div class="blocks" id="experience" style="background: #D3D3D3">
			<div class="outsidetext">My Experiences</div><br>
			<div class="outsidetextsmall">Education - Achievements - Training</div><br>
		</div>

		<div class="inblocks" style="min-height: 350px; background: #D3D3D3">
			<div class="lefttext">
				<div class="largetext">Education</div>
				<div class="mediumtext">Modal Bangsa High School, Aceh</div>
				<div class="smalltexti"><i>Start of my love for maths and computer science</i></div>
            <div class="smalltext">2015-2018</div>
            <div class="mediumtext">University of Indonesia</div>
            <div class="smalltexti"><i>Faculty of Computer Science</i></div>
            <div class="smalltext">2018-Current</div>
			</div>
		</div>

		<div class="inblocks" style="min-height: 500px; background: #D3D3D3">
			<div class="lefttext">
				<div class="largetext">Achievements</div>
				<div class="mediumtext">Malaysia MRSM Debate</div>
				<div class="smalltexti"><i>17 Place, Honorable Mention</i></div>
				<div class="smalltext">2016</div>
				<div class="mediumtext">Indonesia Nasional Science Olympiad</div>
				<div class="smalltexti"><i>Awarded Bronze medal</i></div>
				<div class="smalltext">2017</div>
				<div class="mediumtext">University of Indonesia Quranic Olympiad</div>
				<div class="smalltexti"><i>3 Place in Fahmil Competition</i></div>
				<div class="smalltext">2018</div>
			</div>
		</div>

		<div class="inblocks" style="min-height: 400px; background: #D3D3D3">
			<div class="lefttext">
				<div class="largetext">Training</div>
				<div class="mediumtext">National training for International Olympiad in Informatics</div>
				<div class="smalltexti"><i>Top 30 participant</i></div>
				<div class="smalltext">2017</div>
				<div class="mediumtext">Indonesia Big Data Seminar</div>
				<div class="smalltexti"><i>Participant</i></div>
				<div class="smalltext">2018</div>
			</div>
		</div>
		{% endblock %}
	</body>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</html>