<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}
	</head>

	<body>

		
		{% block content %}
		<!-- Top navigation -->
		
		<div class='projectpage '>
			<div style="padding-bottom: 10vh;"></div>
			<div class="thanks"style="padding-bottom: 10vh;">Thanks :)</div>

			<table>
				<tr>
					<td>
						<a href="{% url 'index' %}"><button>Click here to return to the homepage</button></a>
					</td>
					<td>
						<a href="{% url 'projects' %}"><button>Click here to see all of my projects :)</button></a>
					</td>
				</tr>
					
			</table>
		</div>

		{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>