<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}
	</head>

	<body>

		
		{% block content %}
		<!-- Top navigation -->
		<div class="projectpage">
			<div style="padding-bottom: 10vh;"></div>
			<div class="container project-table">
				<div class="row">
					<div class="col-md font-weight-bold">
						Title
					</div>
					<div class="col-md font-weight-bold">
						Date
					</div>
					<div class="col-md font-weight-bold">
						Description
					</div>
					<div class="col-md font-weight-bold">
						Place
					</div>
					<div class="col-md font-weight-bold">
						Category
					</div>
				</div>
				{% for project in projects %}
				<div class="row">
					<div class="col-md">
						{{ project.projectTitle }}
					</div>
					<div class="col-md">
						{{ project.projectDate }}
					</div>
					<div class="col-md">
						{{ project.projectDescription }}
					</div>
					<div class="col-md">
						{{ project.projectPlace }}
					</div>
					<div class="col-md">
						{{ project.projectCategory }}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>