<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}
	</head>

	<body>

		
		{% block content %}
		<!-- Top navigation -->
		<div class="projectpage">
			<div style="padding-bottom: 10vh;"></div>
			<div class="newproject" style="padding-bottom: 10vh;">Add a new Project</div>
			<form method="post">
				<table class='signarea'>
					{% csrf_token %}
					{{ form.as_table }}
					{{ projectInputForm }}	
				</table>
				<input class="submitbutton1" type="submit" value="Submit" />
			</form>
		</div>

		{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>