<!DOCTYPE html>

{% extends 'template/base.html' %}
<html>
	<head>
		{% block head %}{% endblock %}	
	</head>

	<body>
		{% block content %}
  		<!-- Signup -->
		<div id="signuppage">
			<div id="signup-text">
				Sign up and feel the love
			</div>
			<form method="post">
				<table class="signarea">
					{% csrf_token %}
					{{ form.as_table }}
					{{ signup_form }}
				</table>
				<input class="submitbutton1" type="submit" value="Submit" />
			</form>
		</div>
		{% endblock %}
	</body>
	<footer>
		{% block footer %}{% endblock %}
	</footer>

</html>