<!DOCTYPE html>

<html>
	<head>
		{% include 'template/head.html' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		{% include 'template/navbar.html' %}
		{% block content %}{% endblock %}
	</body>
	<div style="clear: both"></div>
	<footer>
		{% include 'template/footer.html' %}
		{% block footer %}{% endblock %}
		<div style="background-color: #2A2727; color: white">Current time: {{ context.now }}</div>
	</footer>
</html>

