<!-- Contact -->
<div id="contact">
	<div class="largetext" style="text-align: center; padding-top: 50px">Contact Me</div>
	<div class="container">
		<div class="row icons">
			<div class="col-md" style="color: white">
				<i class="fas fa-envelope fa-3x"></i>
				<div>Email</div>
				<div>zafir.r.taufik@gmail.com</div>
			</div>
			<div class="col-md float-right" style="color: white;">
				<i class="fas fa-phone fa-3x"></i>
				<div>Phone / Whatsapp</div>
				<div>+6285362628454</div>
			</div>
		</div>
	</div>
	<div style="text-align: center; padding-top: 50px">
		<a href="/feedback" title="feedback">
			<button type="button" class="btn" id="feedback">
				Feedback?
			</button>
		</a>
	</div>
</div>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>