<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li class="nav-item {{ index_active }}">
				<a class="nav-link" href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item">
				<div class="dropdown">
					<div class="nav-link dropbtn {{ projects_active }}">Projects</div>
					<div class="dropdown-content">
				   	<a href="{% url 'projects' %}">All Projects</a>
				   	<a href="{% url 'projectInput' %}">Input new Project</a>
					</div>
				</div>
  		   </li>
			<li class="nav-item {{ feedback_active }}">
				<a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item {{ signup_active }}">
  		   	<a class="nav-link" href="{% url 'signup' %}">Login/Signup</a>
  		   </li>
  		</ul>
  	</div>
</nav>